.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
  width: 50vw;
  margin: auto;
  height: 50vh;
  box-shadow: 2px 2px 4px 2px darkgray;
  margin-top: 5vh;
  border-radius: 5px;
  overflow: hidden;
}

.cardContentParent {
  background-color: #0359e446;
  height: 40vh;
}

.cardContentChild {
  position: relative;
  height: 25vh;
  width: 35vw;
  margin: auto;
  top: 5vh;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.navButton {
  height: 25px;
  background-color: #032f76;
  color: white;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 1px 1px 1px 2px darkgray;
}

.nextViewButton {
  position: relative;
  top: 3vh;
  left: 17vw;
}

.navButton:active {
  box-shadow: 1px 1px 1px darkgray;
  margin-left: 2px;
  margin-top: 2px;
}

progress {
  height: 2rem;
  width: 100%;
}

progress::-webkit-progress-bar {
  /* style rules */
  background-color: gainsboro;
}
progress::-webkit-progress-value {
  /* style rules */
  background-color: rgba(28, 184, 28, 0.89);
}