.App {
  text-align: center;
  background-color: whitesmoke;
  font-family: Roboto, Segoe UI, Tahoma, sans-serif;
  height: 100vh;
}

.App-header {
  background-color: #2E3F4F;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3rem;
  margin: 2vh 0;
}

.App-intro {
  font-size: large;
}

.card {
  width: 50vw;
  margin: auto;
  height: 50vh;
  box-shadow: 2px 2px 4px 2px darkgray;
  margin-top: 5vh;
  border-radius: 5px;
  overflow: hidden;
}

.cardContentParent {
  background-color: #DCD799;
  height: 40vh;
}

.cardContentChild {
  position: relative;
  height: 25vh;
  width: 35vw;
  margin: auto;
  top: 5vh;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.cardQuestion {
  font-size: 1.5rem;
}

.navButton {
  height: 25px;
  background-color: #E56D4A;
  color: white;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 1px 1px 1px 2px darkgray;
}

.nextViewButton {
  position: relative;
  top: 3vh;
  left: 17vw;
}

.navButton:active {
  box-shadow: 1px 1px 1px darkgray;
  margin-left: 2px;
  margin-top: 2px;
}

progress {
  height: 1.5rem;
  background-color: darkgray;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: gainsboro;
}
progress::-webkit-progress-value {
  background-color: #489C85;
  transition: width 1s;
}

.cardContentChild input, textarea {
  font-size: 1.5rem;
  padding: 4px;
  border-radius: 5px;
}

.cardContentChild textarea {
  max-width: 90%;
  max-height: 50%;
}

.deleteButton {
  height: 100%;
  width: 8rem;
  margin-top: 0%;
  font-size: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid darkgray;
}
.deleteButton:hover {
  background-color: darkgray;
  cursor: pointer;
}